@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

/* rgb(49, 130, 206) */

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #bcc8ff;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background:  rgb(49, 130, 206);
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background:  rgb(37, 99, 157);
  }